name: Build App
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: build
        run: |
          npm install
          npx tauri build
      - name: upload
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Aegis-Log-Installer
          path: src-tauri/target/release/bundle/msi/*.msi
